<a href="https://colab.research.google.com/github/HyagoAllyf/Python-para-F-sicos/blob/main/F%C3%ADsica_Python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A versão em uso de Python

In [ ]:
!python --version

Python 3.7.12

# Tipos de Dados

##Númerico

###inteira: int

In [ ]:
x = 10
print("x =", x) # maneira antiga
print(type(x))

x = 10
<class 'int'>

In [ ]:
y = int(20)
print(y)
print(type(y))

20
<class 'int'>

### Decimal: float

In [ ]:
# Exemplo:
# m é a massa da partícula
m = 80.30 # [m] = kg
print(m)
print(type(m))

80.3
<class 'float'>

In [ ]:
#  massa da terra _ notação científica
massa_t = 5.972e12

### Número complexo

In [ ]:
z = 9+8j
print(z)
print(type(z))

(9+8j)
<class 'complex'>

## Sequência

### string: str

In [ ]:
my_str = 'python'
print(my_str)
print(type(my_str))
print(my_str[0])
print(my_str[1])
print(my_str[2])
print(my_str[3])
print(my_str[4])
print(my_str[5])

python
<class 'str'>
p
y
t
h
o
n

## Lista: list

In [ ]:
my_list = ['banana', 'abacate', 'laranja', 'pera']
print(my_list)
print(type(my_list))
print(my_list[0])
print(my_list[-1]) # último
print(my_list[-2]) # penúltimo

['banana', 'abacate', 'laranja', 'pera']
<class 'list'>
banana
pera
laranja

In [ ]:
# slicing
print(my_list[:]) #todos itens
print(my_list[0:2]) #os dois primeiros
print(my_list[:2]) # pega todos os valores até o 1

In [ ]:
# print(my_list[start:end:step])
print(my_list[::2])

['banana', 'laranja']

## *Tuplas*

Tuplas não admitem modificações

In [ ]:
my_tuple = (11,25,78,43.9)
print(my_tuple)
print(type(my_tuple))

(11, 25, 78, 43.9)
<class 'tuple'>

### Modificando a lista

In [ ]:
print(my_list)
my_list[0] = 'uva'
print(my_list)

['banana', 'abacate', 'laranja', 'pera']
['uva', 'abacate', 'laranja', 'pera']

## Conjunto: Set

Os elementos não são dados em sequência

In [ ]:
my_set = {100, 40,'uva'}
print(my_set)
print(type(my_set))

{40, 'uva', 100}
<class 'set'>